.svg-link {
  &:hover {
    path {
      fill: $secondary;
    }
  }
}

.link-button {
  cursor: pointer;
  display: inline-block;
  padding: 16px 64px;
  background: $primary;
  border-radius: 10px;
  color: $light;
  text-transform: uppercase;
  font-size: 12px;

  @media (max-width: 500px) {
    width: 80vw;
    padding: 16px 0;
  }

  &:hover {
    background-color: $secondary;
    color: $light;
  }
}
